* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  background-color: #AB2A19;
  height: 20vh;
  padding: 50px;
}

nav .logo-section {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 200px;
  top: 20px;
}

nav .logo-section h3 {
  color: white;
  font-size: 35px;
  margin: 15px;
}

nav .logo-section img {
  width: 50px;
  height: 50px;
  margin: 15px
}

nav .link-button {
  background-color: #D34735;
  text-decoration: none;
  padding: .6em;
  font-weight: 600;
  color: black;
  margin: .4em;

}

.products-container {
  padding-top: 2em; 
}

.item-container {
  background-color: #D34735;
  display: flex;
  width: 34em;
  margin: 10px auto;
  padding: 15px;
}

.item-img {
  height: 10em;
  width: 19em;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 20em;
  margin-right: 1em;
}

.right-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.product-info {
  text-align: left;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
}

.product-buttons button {
  background-color: #3AD886;
}
.product-buttons .product-button {
  background-color: #3AD886;
  width: 5em;
  border-radius: 5px;
  padding-top: .6em;
  color: black;
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
}

.input-container {
  margin: 2em auto;
  background-color: #3AD886;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25em;
  height: 30em;
  padding: 2em;
}

.input-buttons {
  display: flex;
  justify-content: space-between;
}

.input-buttons button {
  background-color: #D34735;

}

button{
  font-weight: 700;
  width: 6em;
  height: 3em;
  border-radius: 10%;
}